body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.addMovieForm {
  width: 200px;
  margin: auto;
}

.ratingStars {
  background-image: url("/images/5_star_rating_system.jpg");
  background-size: cover;
  height: 37px;
  .oneStar {
    background-position: 0 -37px;
  }
  .twoStars {
    background-position: 0 -74px;
  }
  .threeStars {
    background-position: 0 -110px;
  }
  .fourStars {
    background-position: 0 -110px;
  }
  .fiveStars {
    background-position: 0 -183px;
  }
}